.header {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

h2, h3 {
    font-family: 'Archivo Black', sans-serif;
}

p, label {
    font-family: 'Nunito Sans', sans-serif;
}

div {
    margin: auto;
    text-align: center;
}