{% extends 'layout.html' %}
{% block body %}
<div>
    <h3>Search for a Train</h3>
    <form action="/map" method="GET">
        <div class="DropdownCountainer">
            <label>Commuter Rail Line:</label>
            </br>
            <select name="line">
                {% for line in lines %}
                    <option value="{{ line[0] }}">{{ line[1] }}</option>
                {% endfor %}
            </select>
        </div>
        </br>
        <div class="DropdownContainer">
            <label>Direction:</label>
            </br>
            <select name="direction">
                <option value = "Inbound">Inbound (To Boston)</option>
                <option value = "Outbound">Outbound (From Boston)</option>
            </select>
        </div>
        </br>
        <div class="DropdownContainer">
            <input type="submit" value="Find a Train!">
        </div>
    </form>
</div>
{% endblock %}