<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MBTA CR Tracker</title>
        <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Nunito+Sans" rel="stylesheet">        
        <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css" rel="stylesheet">
        <link href="../static/style.css" rel="stylesheet">
        <script src="../static/main.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="ui stackable menu">
                <div class="item">
                    <img id="t" src="../static/images/t.png">
                </div>
                <div class="item">
                    <h2 id="title">Tracker</h2>
                </div>
                <a class="active item">Home</a>
                <a class="item">Browse</a>
                <a class="item">Map</a>
                </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>