<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
        <title>Commuter Rail Tracker</title>
        <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">        
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
        <link href="../static/style.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    </head>
    <body>
        <div id="map", data-lat="{{ coords[0] }}", data-lon=" {{ coords[1] }}"></div>
        <script src="..\static\map.js"></script>
    </body>
</html>