{% extends 'layout.html' %}
{% block body %}
<div class="ui middle aligned center aligned grid container">
  	<div class="column">

		<!-- Title Thingy -->
		<div class="ui menu">
			<div class="item">
				<img id="t" src="../static/images/t.png">
			</div>
			<div class="item">
				<h2 id="title">Tracker</h2>
			</div>
		</div>

		<!-- Begin Form -->
      	<form class="ui large form" action="/trains/find" method="GET">
          	<div class="ui stacked segment">
              	<h3 class="ui block header">Find a Train</h3>
  
              	<!-- First Field -->
              	<div class="field">
                  	<select name="line" class="ui dropdown">
                	{% for line in lines %}
                        <option value="{{ line[0] }}">{{ line[1] }}</option>
					{% endfor %}
                  	</select>
              	</div>

              	<!-- Second Field -->
              	<div class="field">
                	<select name="direction" class="ui dropdown">
						<option value="Inbound">Inbound (To Boston)</option>
                      	<option value="Outbound">Outbound (From Boston)</option>
                  	</select>
              	</div>

              	<!-- Submit Button -->
              	<button class="ui fluid primary submit button" type="submit">Search</button>
  
			</div>
		</form>

      	<!--Browse Message-->
      	<div class="ui message">
			Not sure what to look for? <a href="/trains/browse">Browse All Trains</a>
      	</div>

  	</div>
</div>
{% endblock %}